@import '../../../css/common.css';

/* 设置大图部分 */
.picture {
    width: 90%;
    margin: 40px auto 0;
}

.picture img {
    display: block;
    width: 90%;
    margin: 0 auto 50px;
}

/* 设置简介部分的样式 */
.profile {
    width: 100%;
}

.profile .content {
    width: 80%;
    margin: 0 auto;
}

.profile .title1 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #333;
}

.profile .title1 span {
    font-family: 宋体;
    font-size: 42px;
    color: #e6002e;
    vertical-align: middle;
    padding-left: 15px;
}

.profile .box1 p {
    font-family: 宋体;
    line-height: 2.5;
    font-size: 14px;
}

.profile .title2 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #333;
}

.profile .title2 span {
    font-family: 宋体;
    font-size: 42px;
    color: #e6002e;
    vertical-align: middle;
    padding-left: 15px;
}

.profile .box2 p {
    font-family: 宋体;
    line-height: 2.5;
    font-size: 14px;
    margin-bottom: 20px;
}

.profile .content img {
    display: block;
    margin: 0 auto;
}

.profile .title3 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #333;
}

.profile .title3 span {
    font-family: 宋体;
    font-size: 42px;
    color: #e6002e;
    vertical-align: middle;
    padding-left: 15px;
}

.profile .box3 {
    margin-bottom: 30px;
}

.profile .box3 h2 {
    font-size: 16px;
    color: #b01f24;
    font-weight: bold;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile .box3 p {
    font-family: 'Microsoft YaHei', arial;
    font-size: 14px;
}
