* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}

/* 导航栏的样式 */
.nav {
    height: 100px;
}

.nav .content {
    width: 1200px;
    height: 100px;
    margin: 0px auto;
}

.log {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.log img {
    width: 100px;
    height: 100px;
}

.nav .content ul {
    float: left;
    height: 30px;
    margin: 35px auto 35px auto;
}

.nav li {
    display: inline;
    width: 90px;
    height: 30px;
    list-style-type: none;
    float: left;
    text-align: center;
    margin-left: 20px;
}

.nav li a {
    display: inline-block;
    width: 90px;
    height: 30px;
    color: #595757;
    line-height: 30px;
}

.nav li a:hover {
    color: #ffffff;
}

.nav li:hover {
    background-color: #595757;
}

.nav .tel {
    float: right;
    width: 190px;
    height: 58px;
    margin-top: 2%;
}

.nav .content .tel img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.tel .tel-1 a {
    font-size: 18px;
    color: #595757;
}

/* 设置简介部分的样式 */
.profile {
    width: 100%;
}

.profile .content {
    width: 80%;
    margin: 0 auto;
}

.profile .title1 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #333;
}

.profile .title1 span {
    font-family: 宋体;
    font-size: 42px;
    color: #e6002e;
    vertical-align: middle;
    padding-left: 15px;
}

.profile .box1 p {
    font-family: 宋体;
    line-height: 2.5;
    font-size: 14px;
}

.profile .title2 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #333;
}

.profile .title2 span {
    font-family: 宋体;
    font-size: 42px;
    color: #e6002e;
    vertical-align: middle;
    padding-left: 15px;
}

.profile .box2 p {
    font-family: 宋体;
    line-height: 2.5;
    font-size: 14px;
    margin-bottom: 20px;
}

.profile .content img {
    display: block;
    margin: 0 auto;
}

.profile .title3 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #333;
}

.profile .title3 span {
    font-family: 宋体;
    font-size: 42px;
    color: #e6002e;
    vertical-align: middle;
    padding-left: 15px;
}

.profile .box3 {
    margin-bottom: 30px;
}
.profile .box3 h2 {
    font-size: 16px;
    color: #b01f24;
    font-weight: bold;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile .box3 p {
    font-family: 'Microsoft YaHei',arial;
    font-size: 14px;
}
/* 设置页面底部样式 */
.foot {
    width: 100%;
    background-color: #999999;
}

.foot .content {
    width: 80%;
    height: 40px;
    margin: 0 auto;
}

.foot .left {
    float: left;
}

.foot .right {
    float: right;
}

.foot .left li {
    line-height: 40px;
    font-size: 14px;
    color: #FFF;
}

.foot .right li {
    float: left;
    line-height: 40px;
    font-size: 16px;
    margin-right: 20px;
}

.foot .right li a {
    color: #ffffff;
}

.foot .right li a:hover {
    color: #000000;
}

.sidebar {
    position: fixed;
    width: 150px;
    height: 180px;
    bottom: 25px;
    right: 0;
    z-index: 999;
}

.sidebar .sideImg {
    padding-left: 10px;
}

.sidebar .sideText {
    text-align: center;
    margin-top: -10px;
    font-size: 14px;
    color: #595757;
}