* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}

/* 导航栏的样式 */
.nav {
    height: 100px;
}

.nav .content {
    width: 1200px;
    height: 100px;
    margin: 0px auto;
}

.log {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.log img {
    width: 100px;
    height: 100px;
}

.nav .content ul {
    float: left;
    height: 30px;
    margin: 35px auto 35px auto;
}

.nav li {
    display: inline;
    width: 90px;
    height: 30px;
    list-style-type: none;
    float: left;
    text-align: center;
    margin-left: 20px;
}

.nav li a {
    display: inline-block;
    width: 90px;
    height: 30px;
    color: #595757;
    line-height: 30px;
}

.nav li a:hover {
    color: #ffffff;
}

.nav li:hover {
    background-color: #595757;
}

.nav .tel {
    float: right;
    width: 190px;
    height: 58px;
    margin-top: 2%;
}

.nav .content .tel img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.tel .tel-1 a {
    font-size: 18px;
    color: #595757;
}

/* 设置大图部分 */
.picture {
    width: 100%;
}

.picture img {
    display: block;
    margin: 0 auto 50px;
}

/* 设置联系电话部分的样式 */
.contact {
    width: 100%;
}

.contact .content {
    width: 80%;
    margin: 0 auto;
}

.contact .left {
    display: inline-block;
    width: 50%;
    margin-bottom: 50px;
}

.contact .left h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 50px;
}

.contact .left h2 {
    font-size: 20px;
    color: #333;
    margin-left: 50px;
    margin-bottom: 15px;
}

.contact .list {
    margin-left: 90px;
}

.contact .list p {
    font-size: 16px;
    line-height: 2.5;
}

.contact .list p a {
    color: #666;
}

.contact .right {
    display: inline-block;
    width: 40%;
    margin-top: 20px;
}

/* 设置页面底部样式 */
.foot {
    width: 100%;
    background-color: #999999;
}

.foot .content {
    width: 80%;
    height: 40px;
    margin: 0 auto;
}

.foot .left {
    float: left;
}

.foot .right {
    float: right;
}

.foot .left li {
    line-height: 40px;
    font-size: 14px;
    color: #FFF;
}

.foot .right li {
    float: left;
    line-height: 40px;
    font-size: 16px;
    margin-right: 20px;
}

.foot .right li a {
    color: #ffffff;
}

.foot .right li a:hover {
    color: #000000;
}

/* 侧边固定栏的样式 */
.sidebar {
    position: fixed;
    width: 50px;
    height: 150px;
    bottom: 80px;
    right: 10px;
    z-index: 999;
}

.sidebar .code {
    position: relative;
}

.sidebar .qr {
    display: none;
    position: absolute;
    right: 50px;
    bottom: -60px;
}

.sidebar .qr p {
    font-size: 14px;
    color: #999999;
    text-align: center;
}

.sidebar .code:hover .qr {
    display: block;
}