@import '../../../css/common.css';

/* 设置大图部分 */
.picture {
    width: 90%;
    margin: 0 auto;
}

.picture img {
    display: block;
    width: 90%;
    margin: 0 auto 50px;
}


/* 设置联系电话部分的样式 */
.contact {
    width: 100%;
}

.contact .content {
    width: 80%;
    margin: 0 auto;
}

.contact .left {
    display: inline-block;
    width: 50%;
    margin-bottom: 50px;
}

.contact .left h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 50px;
}

.contact .left h2 {
    font-size: 20px;
    color: #333;
    margin-left: 50px;
    margin-bottom: 15px;
}

.contact .list {
    margin-left: 90px;
}

.contact .list p {
    font-size: 16px;
    line-height: 2.5;
}

.contact .list p a {
    color: #666;
}

.contact .right {
    display: inline-block;
    width: 40%;
    margin-top: 20px;
}
