@import '../../css/common.css';
/* 主体样式 */
.subject {
    width: 100%;
}
.subject .content {
    width: 80%;
    margin: 0 auto;
}

.subject h2 {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #666;
    line-height: 3;
    margin-bottom: 30px;
}

.subject p {
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #666;
    font-family: 'Microsoft YaHei', arial;
    font-size: 14px;
    line-height: 30px;
    white-space: nowrap;
}

.subject h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.subject img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.subject .nextpre {
    text-align: center;
    padding-bottom: 10px;
}
